* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.test {
}

.flex {
  display: flex;
}
.flex-start {
  justify-content: start;
  align-content: start;
}
.flex-center {
  justify-content: center;
  align-content: center;
}
.flex-end {
  justify-content: end;
  align-content: end;
}
.grid {
  display: grid;
}
.grid-center {
  align-items: center;
  justify-content: center;
}
.grid-columns11 {
  grid-template-columns: 1fr 1fr;
}
.grid-columns111 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-columns1111 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block {
  display: block;
}

.w-full {
  width: 100%;
}
.w-100 {
  width: 100px;
}
.w-300 {
  width: 300px;
}
.w-500 {
  width: 500px;
}

.h-full {
  height: 100%;
}
.h-100 {
  height: 100px;
}
.h-300 {
  height: 300px;
}
.h-500 {
  height: 500px;
}

.rounded {
  border-radius: 0.3rem;
}
.border {
  border: 0.125rem solid black;
}
.padding {
  padding: 5px;
}
.padding-l {
  padding-left: 5px;
}
.padding-r {
  padding-right: 5px;
}
.padding-t {
  padding-top: 5px;
}
.padding-b {
  padding-bottom: 5px;
}

.margin {
  margin: 5px;
}
.margin-l {
  margin-left: 5px;
}
.margin-r {
  margin-right: 5px;
}
.margin-t {
  margin-top: 5px;
}
.margin-t2 {
  margin-top: 15px;
}
.margin-t3 {
  margin-top: 50px;
}
.margin-b {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}
.text-black {
  color: black;
}
.text-gray {
  color: gray;
}
.text-white {
  color: white;
}
.text-red {
  color: red;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.bkgd-white {
  background-color: white;
}
.bkgd-black {
  background-color: black;
}
.bkgd-green {
  background-color: green;
}
.bkgd-blue {
  background-color: blue;
}
.bkgd-red {
  background-color: red;
}

.no-resize {
  resize: none;
}
.li-no-decoration {
  list-style-type: none;
}
.text-no-decoration {
  text-decoration: none;
}

.hover-effect {
  transition: transform 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-container {
  display: grid;
  justify-content: center;
  width: 100%;
}
.nav-bar {
  background-color: rgb(0, 0, 0, 0);
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: green; */
}
.nav-bar-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  /* background-color: red; */
}
.nav-bar-option {
  color: black;
  text-decoration: none;
}
.nav-bar-home {
  text-align: center;
}
.nav-bar-latest {
  text-align: center;
}
.nav-bar-about {
  text-align: center;
}
.nav-bar-new {
  text-align: center;
}

.home-hero-parent {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Large screens (desktops and laptops) */
@media (min-width: 1024px) {
  .home-hero {
    width: 60%;
    height: 300px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .home-hero {
    width: 70%;
    height: 300px;
  }
}

/* Small screens (smartphones) */
@media (max-width: 767px) {
  .home-hero {
    width: 90%;
    height: 300px;
  }
}

.home-hero-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-hero-grid2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.home-hero-left {
  background-color: rgb(150, 61, 61);
  margin: 5px;
}
.home-hero-top-right {
  background-color: rgb(93, 41, 200);
  margin: 5px;
}
.home-hero-bottom-right {
  background-color: rgb(23, 150, 73);
  margin: 5px;
}
