* {
  margin: 0;
  border: 0;
  padding: 0;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.flex {
  display: flex;
}
.flex-start {
  justify-content: start;
  align-content: start;
}
.flex-center {
  justify-content: center;
  align-content: center;
}
.flex-end {
  justify-content: end;
  align-content: end;
}

.w100 {
  width: 100px;
}
.w300 {
  width: 300px;
}

.padding {
  padding: 5px;
}
.margin {
  margin: 5px;
}

.bold {
  font-weight: bold;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.text-red {
  color: red;
}

.nav-bar {
  max-width: 100%;
  background-color: rgb(0, 0, 0, 0);
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-bar-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

.nav-bar-option {
  color: black;
  text-decoration: none;
}

.nav-bar-home {
  text-align: center;
}
.nav-bar-latest {
  text-align: center;
}
.nav-bar-about {
  text-align: center;
}
.nav-bar-new {
  text-align: center;
}

.home-hero-parent {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Large screens (desktops and laptops) */
@media (min-width: 1024px) {
  .home-hero {
    width: 60%;
    height: 300px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .home-hero {
    width: 70%;
    height: 300px;
  }
}

/* Small screens (smartphones) */
@media (max-width: 767px) {
  .home-hero {
    width: 90%;
    height: 300px;
  }
}

.home-hero {
  /* border: 2px solid black; */
  /* border-radius: 5px; */
}

.home-hero-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-hero-grid2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.home-hero-left {
  background-color: rgb(150, 61, 61);
  margin: 5px;
}

.home-hero-top-right {
  background-color: rgb(93, 41, 200);
  margin: 5px;
}

.home-hero-bottom-right {
  background-color: rgb(23, 150, 73);
  margin: 5px;
}

.new-post-form-box {
  border: 2px solid black;
  border-radius: 5px;
}

.submit-btn {
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
